table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}

th {
  background-color: blue;
  color: white;
}

#button, #submit {
  float: right;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: table-row;
}

ul li a {
  display: table-cell;
  padding: 10px;
  text-align: center;
  border: 1px solid #bfbfbf;
  background-color: #f1f1f1;
  width: 35%;
  color: black;
  text-decoration: none;
}

ul li a.active {
  background-color: #008081;
  color: white;
  text-decoration: none;
}