/* The animation code */
@keyframes example {
    0%   {background-color: orange;}
    25%  {background-color: yellow;}
    50% {background-color: orange;}
    75% {background-color: yellow;}
  }
  
  /* The element to apply the animation to */
  #logo {
    width: 50%;
    height: 35px;
    background-color: orange;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  } 

  table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center; 
}