header {
	background-color: #4CAF50;
	padding: 20px;
	color: white;
	text-align: center;
	border-radius: 10px;
	box-sizing: border-box;
	border: 2px solid #4CAF50;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
}

.signup, .login {
	display: block;
	margin: 10px;
	padding: 10px 20px;
	border-radius: 4px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
}

.signup {
	background-color: #008081;
	font-family: Arial;
}

.login {
	background-color: #4CAF50;
	font-family: Arial;
}

.signup:hover, .login:hover {
	background-color: #45a049;
	box-shadow: 0 0 10px 5px rgba(68, 219, 165, 0.5);
}