/* The animation code */
@keyframes example {
    0%   {background-color: #ff822d;}
    25%  {background-color: #ffb02e;}
    50% {background-color: #ff822d;}
    75% {background-color: #ffb02e;}
  }
  
  /* The element to apply the animation to */
  #logo {
    width: 50%;
    height: 35px;
    background-color: #ff822d;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
    color: #f44336;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center; 
}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
.snake-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.hangman-button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.hangman-button:hover, .snake-button:hover {
	background-color: #45a049;
	box-shadow: 0 0 10px 5px rgba(68, 219, 165, 0.5);
}

